.featured__list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-size: 1.2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.featured__list_items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  cursor: pointer;
}

.featured__list_top {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  font-size: 1rem;
  color: #00ce79;
}

.featured__list_items div {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.featured__list_items div img {
  width: 2rem;
}
.featured__list_items div span {
  font-size: 1rem;
  color: #00ce79;
  margin-left: -0.5rem;
  align-self: flex-end;
}

.low {
  color: rgb(230, 37, 3);
}

.high {
  color: rgb(15, 175, 15);
}
.featured__list_items:hover {
  background-color: rgba(121, 121, 121, 0.03);
}

@media (max-width: 996px) {
  .featured__list_top {
    grid-template-columns: 2fr 1fr 1fr;
    /* place-items: center; */
  }
  .featured__list_items {
    grid-template-columns: 2fr 1fr 1fr;

    font-size: 1rem;
  }
  .market {
    display: none;
  }

  .featured__list .featured__list_items .market {
    display: none;
  }
  .featured__list .featured__list_items img {
    width: 1.5rem;
  }
}

.market__list_wrapper {
  width: 80%;
  margin: auto;
  margin-top: 5rem;
  padding-inline: 5rem;
}

.market__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-bottom: 1rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.397);
  padding-bottom: 0.5rem;
}

.market__item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}
.market__top {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-bottom: 1rem;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, 0.568);
  padding: 0.5rem;
  list-style: none;
}

.market__top li {
  cursor: pointer;
  user-select: none;
  position: relative;
}

.market__top li :nth-child(1) {
  position: absolute;
  top: 60%;
  /* transform: translateY(100%); */
  margin-left: 0.5rem;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #ff0000;
}
.market__top li :nth-child(2) {
  position: absolute;
  top: 0;
  transform: translateY(150%);
  margin-left: 0.5rem;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #00ce79;
}
